/*------------- #STYLES --------------*/

.primary-color{
    color: #4c00a5;
}

.secundary-color{
    color: #b39ae2;
}

.dark-primary{
    color: #0c002a;
}

.light-color{
    color: #a5a5a5;
}

.black-color{
    color: #000000 !important;
}

.gradient-text {
    text-transform: uppercase;
    background: linear-gradient(to right, #ffbd59 0%, #ff5757 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.52vw;
}

.white-color{
    color: #ffffff;
}

.color-yellow {
    color: #fbb03b;
}

.school-font {
    font-weight: bold;
    background: linear-gradient(to right, #ffa929 0%, #f5d04d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-color{
    background: rgba(50,56,233,1);
    background: -moz-linear-gradient(top, rgba(50,56,233,1) 0%, rgba(255,85,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,56,233,1)), color-stop(100%, rgba(255,85,255,1)));
    background: -webkit-linear-gradient(top, rgba(50,56,233,1) 0%, rgba(255,85,255,1) 100%);
    background: -o-linear-gradient(top, rgba(50,56,233,1) 0%, rgba(255,85,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(50,56,233,1) 0%, rgba(255,85,255,1) 100%);
    background: linear-gradient(to bottom, rgba(50,56,233,1) 0%, rgba(255,85,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3238e9', endColorstr='#ff55ff', GradientType=0 );
}


/*------------- #TEME STYLES --------------*/

.item-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.btn-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.logo-home {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tittle-w{
    width: 450px;
}

.client-w{
    width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.filter-img-grey{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .5s all;
}

.filter-img-grey:hover{
    transition: .5s;
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
}

.logo-nav{
    height: 45px;
    margin-left: 20px;
}

.sub-tittle-logo {
    padding-bottom: 10%;
    font-weight: 300;
    font-family: lato, sans-serif;
    font-size: 22px;
}

.btn-desc{
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
}

.btn-home-solution{
    width: 150px;
}

.bg-wave {
    background-image: url("../../assets/svg-image/wave-bg.svg");
    position: absolute;
    background-size: 100%;
    top: 90px;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
    overflow: hidden;
}

.bg-polygon {
    background-image: url("../../assets/svg-image/polygon-bg.svg");
    position: absolute;
    background-size: 100%;
    top: 30px;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    opacity: 0.8;
    overflow: hidden;
}

.bg-up {
    background-image: url("../../assets/img/bg-team-up.png");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}


.bg-client {
    background-image: url(../../assets/svg-image/bg-client.svg);
    position: absolute;
    background-size: 100%;
    top: 800px;
    width: 50%;
    height: 350px;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
    overflow: hidden;
    left: 330px;
}

.bg-subs {
    background-image: url(../../assets/svg-image/bg-subs.svg);
    position: absolute;
    background-size: 100%;
    width: 80%;
    height: 350px;
    /* top: 1510px; */
    background-repeat: no-repeat;
    /* opacity: 0.9; */
    overflow: hidden;
    left: 90px;
}


.bg-adward {
    background-image: url(../../assets/img/bg-adward.png);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: .7;
}


.bg-subscribe {
    background-image: url(../../assets/img/bg-subs-2.png);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.bg-blue {
    background-image: url(../../assets/svg-image/bg-blue.svg);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
}



.bg-2-school {
    background-image: url(../../assets/img/bg-school-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.bg-child {
    background-image: url(../../assets/img/bg-child.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.desc-title-page{
    padding-bottom: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.font-16{
    font-size: 16px;
}

.font-18{
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}

.font-22{
    font-size: 22px;
}

.font-33 {
    font-size: 33px;
}

.font-list-icon{
    font-size: 1.3rem;
}

.font-w-100{
    font-weight: 100;
}

.left-align{text-align: left !important;}

.center-align{text-align: center !important;}
/*------------- #STYLES MARGINS --------------*/

.mt5{
    margin-top: 5px;
}

.mt-20{
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}


.ml-auto{
    margin-right: 30px;
}

.header-space{
    padding-top: 30px;
    padding-bottom: 30px;
}

.m-Logo{
    padding: 35px;
    margin-top: -120px;
}

.p-35{
    padding: 35px;
}

.m-star-10{
    margin-inline-start: 10px;
}

.pBT-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.pTB-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pTB-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pTB-65{
    padding-top: 65px;
    padding-bottom: 65px;
}

.item-margin-star-30{
    text-align: center;
    margin-inline-start: 30px;
}
/*------------- #STYLES NAVBAR --------------*/

.navbar{
    box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: 100;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: 100;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    padding: 30px;
    box-shadow: rgba(107, 107, 107, 0.18) 3px 0px 10px 2px;
    border: 1px solid transparent;
}

.bg-white {
    background-color: #ffffff;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 100;
    color: #212121;
    text-align: left;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}

.title-solutions {
    width: 635px;
}

.z-index-1 {
    z-index: -1;
}

/*------------- # STYLES FOOTER --------------*/

.no-padding {
    padding:0!important
}
.go_top {
    line-height:40px;
    cursor:pointer;
    width:40px;
    background:#5867dd;
    color:#fff;
    position:fixed;
    -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
    box-shadow:0 4px 4px rgba(0,0,0,.1);
    -webkit-border-radius:50%;
    border-radius:50%;
    right:-webkit-calc((100% - 1140px)/ 2);
    right:calc((100% - 1140px)/ 2);
    z-index:111;
    bottom:80px;
    text-align:center
}
.go_top span {
    display:inline-block
}
.footer-big {
    padding:105px 0 65px 0
}
.footer-big .footer-widget {
    margin-bottom:40px
}
.footer--light {
    background: #ffffff;
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
    color:#898b96
}
.footer-menu {
    padding-left:48px
}
.footer-menu ul li a {
    font-size:15px;
    line-height:32px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}
.footer-menu ul li a:hover {
    color:#5867dd
}
.footer-menu--1 {
    width:100%
}
.footer-widget-title {
    line-height:42px;
    margin-bottom:10px;
    font-size:18px
}
.mini-footer {
    background:#ffffff;
    text-align:center;
    padding:32px 0
}
.mini-footer p {
    margin:0;
    line-height:26px;
    font-size:15px;
    color:#999
}
.mini-footer p a {
    color:#5867dd
}
.mini-footer p a:hover {
    color:#34bfa3
}
.widget-about img {
    display:block;
    margin-bottom:30px
}
.widget-about p {
    font-weight:400
}
.widget-about .contact-details {
    margin:30px 0 0 0
}
.widget-about .contact-details li {
    margin-bottom:10px
}
.widget-about .contact-details li:last-child {
    margin-bottom:0
}
.widget-about .contact-details li span {
    padding-right:12px
}
.widget-about .contact-details li a {
    color:#5867dd
}
@media (max-width:991px) {
    .footer-menu {
        padding-left:0
    }
}

.footer-font{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    font-size: 28px;
}

.bg-footer {
    background-image: url(../../assets/svg-image/bg-footer.svg);
    position: absolute;
    background-size: 100%;
    top: 20px;
    width: 70%;
    height: 390px;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
    overflow: hidden;
}


.w-soclial{
    display: inline-block;
    width: 25px;
}

.desc-social{
    margin-inline-start: 10px;
}

#socialButton {
    color: #000000;
    width: 130px;
    display: block;
    text-align: left;

}

.icon-card{
    width: 30px;
    margin-bottom: 10px;
}


.color-card{
    background:#FDFEFF;
}

.uppercase-text{
    text-transform: uppercase;
}

.dev-title{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

/*cards*/

.card {
    border-radius: 6px;
    display: inline-block;
    height: auto;
    margin: 1rem;
    /* position: relative; */
    width: 285px;
    box-shadow: 0 7px 5px rgba(156, 155, 155, 0.16), 0 0px 9px rgba(142, 142, 142, 0.16);
    border: transparent;
    transition: .6s all;
}


.card:hover{
    transition: .6s all;
    background: rgba(97, 70, 255, 0.1);
}

.card-subs{
    border-radius: 6px;
    display: inline-block;
    height: 400px;
    margin: 6rem;
    width: 385px;
    box-shadow: 0 7px 5px rgba(156, 155, 155, 0.16), 0 0px 9px rgba(142, 142, 142, 0.16);
    border: 1px solid #ccc;
    transition: .6s all;
    opacity: .5;
}

.card-school-page {
    border-radius: 6px;
    display: inline-block;
    height: auto;
    margin: 1rem;
    /* position: relative; */
    width: 100%;
    /* box-shadow: 0 7px 5px rgba(156, 155, 155, 0.16), 0 0px 9px rgba(142, 142, 142, 0.16); */
    border: transparent;
    transition: .6s all;
}



.card-elevation{
    /*sombra*/
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);;
}


.profile{
    border-radius: 100%;
    margin-top: 30px;
    width: 132px;
    height: 128px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
}

.logo-card-subs {
    margin-top: 30px;
    width: 180px;
    margin-bottom: 20px;
}

.icon-page {
    margin-top: 30px;
    height: 180px;
}

.devices-suites {
    width: 700px;
    height: 335px;
}

.logo-subs{
    margin-top: 10px;
    width: 182px;
    height: 128px;
    margin-bottom: 40px;
}


.card-page-subs {
    border-radius: 6px;
    display: inline-block;
    margin: 1rem;
    width: 460px;
    box-shadow: 0 7px 5px rgba(191, 191, 191, 0.13), 0 0px 9px rgba(142, 142, 142, 0.16);
    border: transparent;
    transition: .6s all;
    height: 500px;
    padding: 20px;
}

.bg-biometric {
    width: 580px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.bg-shadow {
    width: 500px;
    opacity: 0.3;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    justify-content: center;
    align-items: center;
    margin: auto;
. gradient-text
}
#cont-lock {
    width: 100%;
    height: 65px;
    position: relative;
}

.lock {
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    line-height: 65px;
    font-size: 28px;
}

#bottom-head {
    position: relative;
    background: #0c002a;
    height: 35px;
}

#bottom-head::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 7px solid white;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid rgba(0, 0, 0, 0);
}

.box h1 {
    margin-left: 20px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 300;
    color: #cfd8dc;
    line-height: 35px;
}

.box button {
    background: #cfd8dc;
    border: 0;
    color: #0c002a;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 2px;
}

.box button:active {
    background: #0c002a;
    color: #0c002a;
}

.box button:hover {
    background: #0c002a;
    color: #FFF;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.box p {
    font-size: 14px;
    text-align: center;
}

.group {
    position: relative;
    margin-bottom: 35px;
    margin-left: 40px;
}

.inputMaterial {
    font-size: 16px;
    padding: 1px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #c1c1c1;
}

.inputMaterial:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #0c002a;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 315px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #0c002a;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
    width: 50%;
}

/* active state */
.inputMaterial:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
#footer-box {
    width: 100%;
    height: 50px;
    background: #0c002a;
    position: absolute;
    bottom: 0;
}

.btn-subs{
    border-radius: 50px;
    width: 140px;
    height: 40px;
    border: 2px solid #6f6f6f;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: 3s all;
    -moz-transition: 3s all;
    -ms-transition: 3s all;
    -o-transition: 3s all;
    transition: 1s all;
}



.btn-subs:hover{
    border: transparent;
    box-shadow: 5px 7px 20px 0 rgba(204, 204, 204, 0.73);
    background: #ffffff;
    color: #222221;
}


.btn-subs-page {
    background: rgb(255, 121, 88);
    /*
    background: -moz-linear-gradient(left, rgb(118, 91, 226) 0%, rgb(255, 129, 187) 100%);
    background: -webkit-linear-gradient( rgb(118, 91, 226) 0%, rgb(255, 129, 187) 100%);
    background: -o-linear-gradient(left, rgb(118, 91, 226) 0%, rgb(255, 129, 187) 100%);
    background: -ms-linear-gradient(left, rgb(118, 91, 226) 0%, rgb(255, 129, 187) 100%);
    background: linear-gradient(to right, rgb(118, 91, 226) 0%, rgb(255, 129, 187) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a81b2e', endColorstr='#8f03ed', GradientType=1 );*/
    color: #fffafa;
    font-weight: bold;
    border: none;
    opacity: 1 !important;
    z-index: 1;
    border-radius: 50px;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: 3s all;
    -moz-transition: 3s all;
    -ms-transition: 3s all;
    -o-transition: 3s all;
    transition: 1s all;
}

.btn-subs:focus {
    outline: 0px !important;
}

.btn-subs-page:focus {
    outline: 0px !important;
}

.bg-1-school {
    margin-top: -170px;
    width: 500px;
}

.w-200 {
    width: 200px;
}

.icon-school-white {
    font-size: 3rem;
    color: white;
}


.w60-m-auto {
    width: 60%;
    margin: auto;
}

.margin-subs-card {
    align-items: center;
    /* justify-content: center; */
    padding: 70px;
}

.letter-spacing-card {
    letter-spacing: 6px;
    font-family: sans-serif;
}

.flex-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.wave1 {
    z-index: 1;
    position: absolute;
    top: 290px;
    text-align: center;
    justify-content: center;
    left: 290px;
    right: 0;
}

.width-wave {
    width: 40px;
}

.wave2 {
    z-index: 1;
    position: absolute;
    top: 290px;
    text-align: center;
    justify-content: center;
    left: 290px;
    right: 0;
}

.width-wave {
    width: 40px;
}

.logo-school-suite-s {
    width: 180px;
    height: 110px;
    margin-bottom: 20px;
}

.separator {
    height: 70px;
    width: 70px;
    margin-bottom: 5px;
}

.card-school-device {
    /* border-radius: 6px; */
    display: inline-block;
    height: auto;
    margin: 5px;
    /* position: relative; */
    width: 100%;
    /* box-shadow: 0 7px 5px rgba(156, 155, 155, 0.16), 0 0px 9px rgba(142, 142, 142, 0.16); */
    border: transparent;
    transition: .6s all;
}

.color-yellow-s {
    color: #7b7b7b;
    text-shadow: #ffc880 0px 0px 5px, #ffdaa0 0px 0px 10px, #fff 0px 0px 15px, #ffffff 0px 0px 20px, #ffffff 0px 0px 30px, 2px 2px 2px rgba(206, 89, 55, 0);
}

.card-overlay-driver {
    border-radius: 3px;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    box-shadow: 0px 3px 5px -1px rgba(191, 191, 191, 0.2), 0px 5px 8px 0px rgba(183, 183, 183, 0.14), 0px 1px 14px 0px rgba(191, 191, 191, 0.12);
    overflow: hidden;
    background-image: url(../img/bg-driver.jpg);
    background-size: cover;
}

.info {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #fff;
    -webkit-transform: translateY(100%) translateY(-88px) translateZ(0);
    transform: translateY(100%) translateY(-88px) translateZ(0);
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    -webkit-transform: translateY(-100%) translateY(88px) translateZ(0);
    transform: translateY(-100%) translateY(88px) translateZ(0);
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.card-overlay-driver:hover .info,
.card-overlay-driver:hover .info:before {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}

.title {
    margin: 0;
    text-align: center;
    padding: 30px;
    font-size: 26px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
}

.description-card-overlay {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;

}

.card-overlay-admin {
    border-radius: 3px;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    box-shadow: 0px 3px 5px -1px rgba(191, 191, 191, 0.2), 0px 5px 8px 0px rgba(183, 183, 183, 0.14), 0px 1px 14px 0px rgba(191, 191, 191, 0.12);
    overflow: hidden;
    background-image: url(../img/bg-school-adm.jpg);
    background-size: cover;
}


.card-overlay-admin:hover .info,
.card-overlay-admin:hover .info:before {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}

.card-overlay-family {
    border-radius: 3px;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    box-shadow: 0px 3px 5px -1px rgba(191, 191, 191, 0.2), 0px 5px 8px 0px rgba(183, 183, 183, 0.14), 0px 1px 14px 0px rgba(191, 191, 191, 0.12);
    overflow: hidden;
    background-image: url(../img/bg-family.jpg);
    background-size: cover;
}


.card-overlay-family:hover .info,
.card-overlay-family:hover .info:before {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}

.card-overlay-student {
    border-radius: 3px;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    box-shadow: 0px 3px 5px -1px rgba(191, 191, 191, 0.2), 0px 5px 8px 0px rgba(183, 183, 183, 0.14), 0px 1px 14px 0px rgba(191, 191, 191, 0.12);
    overflow: hidden;
    background-image: url(../img/bg-school-student.jpg);
    background-size: cover;
}


.card-overlay-student:hover .info,
.card-overlay-student:hover .info:before {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}
